<html ng-app="dayzero">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{'installer.product.title' | translate}}</title>
    <base href="/">
    <!-- bower:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="app/app.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico">
  </head>
  <body>
    <ng-view></ng-view>

    <!-- bower:js -->
    <!-- endinject -->

    <!-- app:js -->
    <!-- endinject -->
  </body>
</html>
