<div class="control-section left-hand">
  <div class="input-control">
    <div class="control-label">{{'network_grps.network_name' | translate}}</div>
    <input name="ngrp_name" class="control-input" type="text"
      ng-model="this_data.name" ardana-valid-name required/>
  </div>
  <div class="input-control">
    <div class="control-label">
      <span class="pointer" popover-trigger="mouseenter" popover-class="popover-sm"
        popover="{{'network_grps.drawer_help.vlan' | translate}}">
        {{'network_grps.vlan' | translate}}
      </span>
    </div>
      <ardana-numeric-buttons for="ngrp_vlan"></ardana-numeric-buttons>
    <input id="ngrp_vlan" name="ngrp_vlan" class="control-input" type="number"
      ng-model="this_data.vlanid" min="1" max="4094" ardana-integer/>
  </div>

  <div class="input-control">
    <div class="control-label">
      <span class="pointer" popover-trigger="mouseenter" popover-class="popover-sm"
        popover="{{'network_grps.drawer_help.cidr' | translate}}">
        {{'network_grps.cidr' | translate}}
      </span>
    </div>
    <input name="ngrp_cidr" class="control-input" type="text" ng-model="this_data.cidr" ardana-valid-ip-range/>
  </div>
</div>

<div class="control-section right-hand">
  <div class="input-control">
    <div class="control-label">{{'network_grps.gateway' | translate}}</div>
    <input name="ngrp_gateway"
           class="control-input"
           type="text"
           ng-model="this_data['gateway-ip']"
           ardana-valid-ip-address/>
  </div>
    <div class="input-control input-control-sxs">
        <div class="input-control">
            <div class="control-label">{{'network_grps.ip_range_from' | translate}}</div>
            <input name="ngrp_start"
                 class="control-input"
                 type="text"
                 ng-model="this_data['start-address']"
                 ardana-valid-ip-address/>
        </div>
        <div class="input-control">
            <div class="control-label">{{'network_grps.ip_range_to' | translate}}</div>
            <input name="ngrp_end"
                class="control-input"
                type="text"
                ng-model="this_data['end-address']"
                ardana-valid-ip-address/>
        </div>
    </div>
    <div class="input-control input-box">
        <div class="control-label">{{'network_grps.tagged_vlan' | translate}}</div>
	    <input id="ngrp_tagged_vlan" name="ngrp_tagged_vlan" class="control-input" type="checkbox" ng-model="this_data['tagged-vlan']"/>
	    <label for="ngrp_tagged_vlan"></label>
    </div>
</div>
