<div class="option-list">
  <button ng-repeat="option in options track by option.value"
    ng-click="updateSelection(option.value)"
    ng-class="{'locked' : locked, 'selected': (option.value === modelValue), 'large': option.description, 'active': (option.value === hoverValue)}"
    class="option-button" tabindex="0" ng-value="$index">
    <div class="option-checkbox">
      <span class="ardana-checkmark-icon"></span>
    </div>
    <div class="option-labels">
      <div class="option-label">{{option.label | translate}}</div>
      <div class="option-desc">{{option.description | translate}}</div>
    </div>
  </button>
</div>
<div class="option-overview">
  <span class="option-text">
    <div ng-include="overviewTemplate"></div>
  </span>
</div>
