$config-table-bg-color: #fff !default;
$config-table-header-border: #e4e4e4 !default;
$config-table-header-active-color: $ardana-green !default;
$config-table-border-radius: 4px !default;

.config-table {
    background-color: $config-table-bg-color;
    border-radius: $config-table-border-radius;
    padding-top: 5px;

    table {
        margin: 10px 0;

        &.full-width {
            width: 100%;
        }

        thead {
            tr {
                th {
                    border-bottom: 1px solid $config-table-header-border;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    height: 34px;
                    padding-left: 20px;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding-top: 15px;
                    padding-left: 20px;
                    padding-bottom: 15px;
                    font-size: 12px;
                }
            }
        }
    }
}
