@import 'custom/variables';

$drawer-body-bg-color: #F2F2F2 !default;
$drawer-footer-bg-color: #fdfdfd !default;
$drawer-footer-height: 96px !default;
$drawer-header-height: 96px !default;
$drawer-header-bg-color: #F2F2F2 !default;
$drawer-header-font-color: #666666 !default;
$drawer-indent: 100px !default;
$drawer-indent-vertical: 25px !default;

.modal-drawer {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    @include transition(top 0.5s ease);
    top: $max-height;

    &.active {
        top: 0;
    }

    .section {
        min-height: auto;
    }

    .header-drawer {
        background-color: $drawer-header-bg-color;
        color: $drawer-header-font-color;
        font: 600 14pt 'Metric';
        height: $drawer-header-height;
        width: 100%;
        padding-left: 10px;
    }

    .body-drawer {
        width: 100%;
        height: calc(100% - #{$drawer-footer-height} - #{$drawer-footer-height} - #{$ardana-footer-height});
        max-height: calc(100% - #{$drawer-header-height} - #{$drawer-footer-height} - #{$ardana-footer-height});
        padding: $drawer-indent-vertical $drawer-indent;
        overflow-y: auto;
        background-color: $drawer-body-bg-color;
        border-top: 1px solid #CCCCCC;

        .drawer-header {
            clear: both;
            display: inline-block;
            font: 600 24pt 'Metric';
            width: 100%;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 2px solid $separator_color;
        }

        .small-control-input {
            width: 50%;
            display: block;
        }
    }

    .footer-drawer {
        background-color: $drawer-footer-bg-color;
        border-top: 1px solid #CCCCCC;
        height: $drawer-footer-height;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 $drawer-indent;
    }

    &.no-tabbing {
        input, textarea, button, a, select, link {
            display: none !important;
        }
    }
}
