@import 'custom/variables';

.editable-placeholder {
    margin-bottom: 20px;

    .ep-cue {
        background-color: #FFFFFF;
        height: 55px;
        padding: 10px 20px;
        //box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
        font-weight: 600;
        font-size: 18px;
        border: 1px solid $ardana-form-border;

        button {
            margin-right: 10px;
            &:first-child {
                margin-right: 0px;
            }
        }
    }
}
