$font-path: "../fonts/metric/";

@font-face {
    font-family: "Metric";
    src: url("#{$font-path}MetricWeb-Regular.woff") format("woff");
}

@font-face {
    font-family: "Metric";
    src: url("#{$font-path}MetricWeb-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Metric";
    src: url("#{$font-path}MetricWeb-Semibold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Metric";
    src: url("#{$font-path}MetricWeb-Light.woff") format("woff");
    font-weight: 100;
}
