.ardana-password-box {

    position: relative;
    min-height: 32px;

    > span {
        position: absolute;
        right: 10px;
        top: 6px;
        padding: 4px;
        cursor: pointer;
        @include no-select();
    }

    > input {
        position: absolute;
        padding-right: 40px;
    }
}