@import 'custom/variables';

.table.action-table {
    //border-bottom: 1px solid $table-border-color;

    th, td {
        &.small {
            min-width: 75px;
            width: 75px;
        }

        &.medium {
            min-width: 120px;
            width: 120px;
        }

        &.large {
            min-width: 180px;
            width: 180px;
        }
    }

    box-shadow: 2px 2px rgba(0, 0, 0, 0.05);

    &.table-as-header {
      border: 0;
      margin-bottom: 0;
      box-shadow: none;
    }

    thead > tr > th {
        background-color: $thead-bg-color;
        border-top: none;
        color: $thead-font-color;
        font: $thead-font;
        height: $thead-height;
        padding: 0 10px;
        vertical-align: middle;
        text-transform: uppercase;
        border-width: 1px;
        white-space: nowrap;

        &.sorted {
          border-bottom: 2px solid $ardana-green;
          font-weight: 600;
        }

        &.action-header {
            background-color: transparent;
            border: none;
            color: $font-color;
            padding: 10px 0;
            position: relative;

            .title {
                font: $table-title;
                position: absolute;
                bottom: 10px;
                left: 0;
                padding: 0;
                text-transform: none;
            }
        }
    }

    tbody > tr {
        &.detail-row {
            display: none;

            .static-container {
                background-color: $table-detail-bg-color;
            }

            &.expanded {
                display: table-row;

                td {
                    border: 1px solid $tbody-border-color;
                }
            }

            td {
                background-color: $table-detail-bg-color;

                &:not(:first-child) {
                    border-left: none;
                }

                &:not(:last-child) {
                    border-right: none;
                }
            }
        }

        td {
            color: $tbody-font-color;
            background-color: $tbody-bg-color;
            border-color: $tbody-border-color;
            border-width: 1px;
            font: $tbody-font;
            height: $tbody-row-height;
            padding: 0 10px;
            vertical-align: middle;

            &[action-col] {
                @include smallcell;
                vertical-align: middle;
                width: 1%;

                a {
                    cursor: pointer;
                }

                .btn-group {
                    height: 100%;
                    width: 100%;

                    &.open .dropdown-toggle {
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }

                    .btn {
                        border: none;
                        background: none;
                        border-radius: 0;
                        color: $font-color !important;
                        outline: none;
                        margin: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .dropdown-menu {
                        border-radius: 0;
                        margin: 0;

                        &.dropdown-menu-right {
                            left: clear;
                            right: 0px;
                        }

                        &:not(.dropdown-menu-right) {
                            left: 0px;
                        }

                        li[role='menuitem'] a:hover {
                            color: $ardana-white;
                            background-color: $ardana-green;
                        }

                        li[role='menuitem'].disabled {
                          pointer-events: none;
                          a {
                            color: $ardana-grey;
                          }
                        }

                    }
                }
            }

            &.expand {
                width: 1%;
                padding: 0;
                vertical-align: middle;

                .btn {
                    color: $font-color;
                    margin-top: -3px;
                }
            }

            &.select {
                @include smallcell;

                input[type='checkbox'] {
                    margin: 0;
                }
            }
        }

        &.selected > td {
            background-color: #FCF8C2;

            button {
                background-color: #FCF8C2;
            }
        }
    }
}
