$colours: (
    'black': (
        normal: #073642,
        intense: #002B36
    ),
    'red': (
        normal: #FF5017,
        intense: #80746E
    ),
    'green': (
        normal: #01a982,
        intense: #5F7A76
    ),
    'yellow': (
        normal: #E1B63A,
        intense: #657B83
    ),
    'blue': (
        normal: #425563,
        intense: #2AD2C9
    ),
    'purple': (
        normal: #614767,
        intense: #6C71C4
    ),
    'cyan': (
        normal: #2AA198,
        intense: #93A1A1
    ),
    'white': (
        normal: #EEE8D5,
        intense: #FDF6E3
    )
);

@each $colourName, $colour in $colours {
    .ansi-#{$colourName} {
        color: map-get($colour, normal);
        &.intense {
            color: map-get($colour, intense);
        }
    }
    .ansi-background-#{$colourName} {
        background-color: map-get($colour, normal);
    }
}

.log-container {
    color: #657B83;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
}