$ardana-footer-height: 176px;

$bg-color: #FFFFFF !default;
//$max-height: 856px !default;
$max-width: 1280px !default;

$max-height: 1032px !default;

//
// Typography
//
$link-color: #0096d6 !default;

//
// Workflow
//
$workflow-navbar-bg-color: #FFFFFF !default;
$workflow-navbar-color: #000000 !default;

//
// Table
//
$table-border-color: #E5E8E8 !default;
$table-title: bold 16px 'Metric' !default;
$thead-bg-color: #FFFFFF !default;
$thead-border-color: #B9B8BB !default;
$thead-font: 16px 'Metric' !default;
$thead-font-color: #666666 !default;
$thead-height: 60px !default;
$tbody-bg-color: #FFFFFF !default;
$tbody-border-color: #E5E8E8 !default;
$tbody-font: 16px 'Metric' !default;
$tbody-font-color: #666666 !default;
$tbody-row-height: 60px;

$accordion-bg-color: #F2F2F2 !default;
$accordion-headings-font: 600 14pt 'Metric';
$accordion-label-font: 600 12pt 'Metric';
$accordion-name-font: 12pt 'Metric';

//
// Theme
//

$new-green-1: #00b388;
$new-black-1: #363a41;
$new-light-gray-1: #eeeff0;

$graph-blue-1: #0096d6;

// Branding
$brand-primary-color: $graph-blue-1;

// Others
$login-dark-gray: #333333;

$body-background-color: #FCFCFC;

$grid-item-border-color: #DCDCDC;
$grid-item-title-color: #999999;
$grid-item-label-color: #999999;
$grid-item-label-data-color: #000000;

$donut-used-color: #00639A;
$donut-free-color: #D8D9DB;
$plot-guide-color: #CCCCCC;

$status-error-color: #DC442F;
$status-warning-color: #F4B51E;
$status-ok-color: #42A425;
$status-unknown-color: #848484;
$status-disabled-color: #848484;

$disabled-button-color: #dfdfdf;
$selection-highlight-color: #c0e4f4;
$filter-icon-fill: #BEBEBE;

$utilized_fill_color: #e0e0e0;
$soft-border-color: $utilized_fill_color;
$mid-border-color: #999999;
$expanded_background_color: #D5E4EB;

$modal_background_color: black;
$clear_button_text_color: #1E1E1E;

$cancel_button_text_color: $login-dark-gray;
$cancel_button_border_color: #bbbbbb;

$header_title_color: $login-dark-gray;

$fti_modal_bg_color: $new-light-gray-1;
$fti_modal_header_color: #ffffff;
$fti_modal_header_bg_color: $new-black-1;
$fti_progress_bg_color: #e4e4e4;
$fti_progress_border_color: #bcbcbc;
$fti_progress_bar_color: $brand-primary-color;
$fti_section_separator: #aeaeae;
$fti_backdrop: #999999;
$control_bg_heading: #cccccc;

$control_required_bg_color: #f3f3f3;
$control_required_border: transparent;
$control_optional_bg_color: white;
$control_optional_border: #ACACAC;

$control_invalid_color: #cc0000;

$switch_decorator_bg_color: $fti_modal_bg_color;
$editable_table_border_color: $fti_modal_bg_color;
$editable_table_border_color_2: #d7d7d7;
$editable_table_editor_separator_color: #c9c9c9;
$separator_color: #c0c0c0;
$fti_modal_drawer_bg_color: #ffffff;

$read_only_data_color: #999999;

$common_input_bg_color: #F2F2F2;

$installer_header_color: #f2f2f2;
$installer_footer_color: #f2f2f2;
$installer_body_color: #ffffff;
$installer_section_separator: #aeaeae;

//
// Typography
//

$font-color: #333333;

// Table
$table-head-bg-color: #666666 !default;
$table-head-color: #ffffff !default;
$table-body-bg-color: #ffffff !default;
$table-border-color: #bbbbbb !default;
$table-detail-bg-color: $new-light-gray-1 !default;
