@import 'custom/variables';

$workflow-backdrop-color: #000000 !default;
$workflow-frame-bg-color: #F2F2F2 !default;
$workflow-footer-bg-color: #fdfdfd !default;
$workflow-footer-height: 96px !default;
$workflow-header-height: 96px !default;
$workflow-header-indent: 25px !default;
$workflow-indent: 100px !default;
$workflow-nav-active-color: $ardana-green !default;
$workflow-status-border: 1px solid #B9B8BB !default;
$workflow-status-fill: #008424 !default;
$workflow-status-height: 16px !default;
$workflow-status-width: 200px !default;
$workflow-footer-btn-height: 96px !default;
$workflow-footer-height: $workflow-footer-btn-height + $ardana-footer-height;


.workflow {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    .workflow-backdrop {
        background-color: $workflow-backdrop-color;
        opacity: 0.2;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        display: none;
    }

    .workflow-wrapper {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1001;
        overflow-y: auto;
        overflow-x: hidden;

        .workflow-frame {
            position: relative;
            height: 100%;
            max-height: $max-height;
            max-width: $max-width;
            margin: 0 auto;
            z-index: 9;
            background-color: $workflow-frame-bg-color;
            overflow: hidden;

            .workflow-navbar {
                background-color: $workflow-navbar-bg-color;
                border-bottom: 1px solid #D9D9D9;
                color: $workflow-navbar-color;
                font: 17px 'Metric';
                height: $workflow-header-height;

                .brand {
                    height: $workflow-header-height;
                    padding-left: $workflow-indent;
                    line-height: $workflow-header-height - 1;

                    .brand-image {
                        height: inherit;
                        position: relative;
                    }

                    .product {
                        position: absolute;
                        background: white;
                        font-family: Metric;
                        font-size: 25px;
                        font-weight: 500;
                    }

                }

                .navs {
                    display: inline-block;
                    height: 100%;

                    .nav {
                        border-bottom: 3px solid transparent;
                        margin-right: $workflow-header-indent;
                        display: inline-block;
                        height: 100%;

                        &.active {
                            border-bottom-color: $workflow-nav-active-color;
                        }

                        .nav-label {
                            position: relative;
                            top: 53%;
                            -webkit-transform: translateY(-40%);
                            -ms-transform: translateY(-40%);
                            transform: translateY(-40%);
                            text-transform: uppercase;
                        }
                    }
                }

                .workflow-status {
                    display: inline-block;
                    margin-right: $workflow-header-indent;

                    .workflow-status-label {
                        margin-right: 10px;
                    }

                    .workflow-status-bar {
                        background-color: transparent;
                        border: $workflow-status-border;
                        display: inline-block;
                        position: relative;
                        top: -1px;
                        width: $workflow-status-width;
                        height: $workflow-status-height;
                        vertical-align: middle;

                        .workflow-status-bar-fill {
                            display: block;
                            margin-top: 0;
                            height: 100%;
                            background-color: $workflow-status-fill;
                        }
                    }
                }
            }

            .workflow-body {
                height: calc(100% - #{$workflow-header-height} - #{$workflow-footer-height});

                .workflow-body-indent {
                    margin: 0;
                    height: 100%;
                    padding: 0 $workflow-indent;
                    width: 100%;
                    overflow-y: auto;

                    .workflow-scrolling-body-indent {
                        height: 100%;
                        margin: 0;
                    }
                }
            }

            .workflow-footer {
                background: $workflow-footer-bg-color;
                height: $workflow-footer-height;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0 $workflow-indent;

                .footer-buttons {
                    height: $workflow-footer-btn-height;
                    position: absolute;
                    left: 0;
                    right: 0;
                    padding: 0 $workflow-indent;
                    background-color: $ardana-white;
                }

                .ardana-footer {
                  height: $ardana-footer-height;
                  right: 0;
                  left: 0;
                  position: absolute;
                  top: $workflow-footer-btn-height;
                }
            }
        }
    }

    .modal-drawer {
        height: calc(100% - #{$workflow-header-height});
        background: transparent;

        &.active {
            top: $workflow-header-height;
        }

        .header-drawer {
            padding-left: $workflow-header-indent;
        }

        .body-drawer {
            height: calc(100% - #{$workflow-footer-height});
            padding: inherit $workflow-indent;
        }

        .footer-drawer {
            height: $workflow-footer-btn-height;
            padding: 0 $workflow-indent;
            margin-bottom: $ardana-footer-height;
        }
    }
}

.demo-mode-deploy {
  margin-top: 20px;
  font-weight: 600;
  color: $ardana-black-light;
}
