<div class="editable-placeholder">
  <div ng-if="!isSet" class="ep-cue">
    <span class="ep-label pull-left vertical-middle">{{label | translate}}</span>
    <button class="ep-action btn btn-primary pull-right vertical-middle" ng-click="addAction()">
      {{addActionLabel | translate}}
    </button>
    <button ng-if="secondaryAction && secondaryActionLabel" class="ep-action btn btn-primary pull-right vertical-middle" ng-click="secondaryAction()">
      {{secondaryActionLabel | translate}}
    </button>
  </div>
  <div ng-if="isSet" class="ep-component" ng-transclude></div>
</div>