<div ng-controller="DeviceDetailController as ddCtrl" class="detail-template-form embedded-form">
  <form name="editDeviceForm">
    <div class="form-group">
      <div class="input-control">
        <label class="control-label" for="deviceName">{{'server_assocs.disk_models.devices.edit' | translate}}</label>
        <input class="control-input" type="text" id="deviceName" ng-model="row._name" required>
      </div>
    </div>

    <div class="pull-right detail-template-form-action-buttons">
      <button class="btn btn-secondary " ng-click="ddCtrl.cancel(row)">
        {{'installer.btn.cancel' | translate}}
      </button>
      <button class="btn btn-primary"
        ng-disabled="editDeviceForm.$invalid"
        ng-click="ddCtrl.save(row)">
        {{'installer.btn.save' | translate}}
      </button>
    </div>
  </form>
</div>
