<div class="detail-template-form embedded-form">
  <form name="editLogicalVolumeForm" novalidate ng-controller="LogicalVolumeDetailController as lvdCtrl">
    <div class="form-group input-control">
      <label for="volumeName" class="required control-label">
        {{'server_assocs.disk_models.logical_volumes.name' | translate}}
      </label>
      <input class="control-input" type="text" id="volumeName" ng-model="row._name" required>
    </div>
    <div class="form-group input-control">
      <label for="size" class="required control-label">
        {{'server_assocs.disk_models.logical_volumes.size' | translate}}
      </label>
      <input class="control-input" type="text" id="size" ng-model="row._size" required>
    </div>
    <div class="form-group input-control">
      <label class="control-label" for="mount">{{'server_assocs.disk_models.logical_volumes.mount' | translate}}</label>
      <input class="control-input" type="text" id="mount" ng-model="row._mount">
    </div>
    <div class="form-group input-control">
      <label class="control-label" for="fstype">{{'server_assocs.disk_models.logical_volumes.fstype' | translate}}</label>
      <input class="control-input" type="text" id="fstype" ng-model="row._fstype">
    </div>
    <div class="form-group input-control">
      <label class="control-label" for="mkfs">{{'server_assocs.disk_models.logical_volumes.mkfs' | translate}}</label>
      <input class="control-input" type="text" id="mkfs" ng-model="row['_mkfs-opts']">
    </div>
    <div class="pull-right detail-template-form-action-buttons with-top-margin">
      <button
        class="btn btn-secondary"
        ng-click="lvdCtrl.cancel(row)">
        {{'installer.btn.cancel' | translate}}
      </button>
      <button
        class="btn btn-primary"
        ng-disabled="editLogicalVolumeForm.$invalid"
        ng-click="lvdCtrl.save(row)">
        {{'installer.btn.save' | translate}}
      </button>
    </div>
  </form>
</div>
