<div ng-controller="PhysicalVolumeDetailController as pvdCtrl" class="detail-template-form embedded-form">
  <form name="editPhysicalVolumeForm">
    <div class="form-group input-control">
      <label class="control-label" for="deviceName">{{'server_assocs.disk_models.physical_volumes.edit' | translate}}</label>
      <input class="control-input" type="text" id="deviceName" ng-model="row._name" required>
    </div>

    <div class="pull-right detail-template-form-action-buttons with-top-margin">
      <button
        class="btn btn-secondary"
        ng-click="pvdCtrl.cancel(row)">
        {{'installer.btn.cancel' | translate}}
      </button>
      <button
        class="btn btn-primary"
        ng-disabled="editPhysicalVolumeForm.$invalid"
        ng-click="pvdCtrl.save(row)">
        {{'installer.btn.save' | translate}}
      </button>
    </div>
  </form>
</div>
