<div class='modal-header'>
  <div class="modal-title vertical-middle">
    {{volumeGroupsModalCtrl.title | translate}}
  </div>
</div>

<div class="modal-body">
  <div class="col-md-6 col-lg-6">
    <form name="newVolumeGroupForm">
      <div class="form-group">
        <div class="input-control">
          <label class="control-label" for="groupName">{{'server_assocs.disk_models.volume_groups.name' | translate}}</label>
          <input class="control-input" type="text" id="groupName" name="groupName" ng-model="volumeGroupsModalCtrl.groupName" required>
        </div>
      </div>
    </form>
    <editable-placeholder
      label="server_assocs.disk_models.physical_volumes.title"
      add-action-label="server_assocs.disk_models.physical_volumes.btn.add"
      add-action="volumeGroupsModalCtrl.addPhysicalVolume()"
      is-set="volumeGroupsModalCtrl.physicalVolumes.length > 0">
      <action-table
        table-data="volumeGroupsModalCtrl.physicalVolumes"
        table-headers="volumeGroupsModalCtrl.physicalVolumesTableHeaders"
        actions-label="'installer.actions.header'"
        config="volumeGroupsModalCtrl.physicalVolumesTableConfig"
        detail-template="volumeGroupsModalCtrl.editPhysicalVolumeTemplate"
        edit-action="volumeGroupsModalCtrl.editPhysicalVolume"
        add-action="volumeGroupsModalCtrl.addPhysicalVolume">
      </action-table>
    </editable-placeholder>

    <div class="row-form" ng-show="volumeGroupsModalCtrl.isAddingPhysicalVolume">
      <form name="addPhysicalVolumeForm">
        <div class="form-group">
          <div class="input-control">
            <label class="control-label" for="volumeName">{{'server_assocs.disk_models.physical_volumes.add' | translate}}</label>
            <input class="control-input" type="text" id="volumeName" required
              ng-model="volumeGroupsModalCtrl.newPhysicalVolumeName">
          </div>
        </div>

        <div class="pull-right">
          <button
            class="btn btn-secondary"
            ng-click="volumeGroupsModalCtrl.cancelAddPhysicalVolume()">
            {{'installer.btn.cancel' | translate}}
          </button>
          <button
            id="savePhysicalVolume"
            class="btn btn-primary"
            ng-disabled="addPhysicalVolumeForm.$invalid"
            ng-click="volumeGroupsModalCtrl.saveNewPhysicalVolume()">
            {{'installer.btn.save' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-6 col-lg-6">
    <editable-placeholder
      label="server_assocs.disk_models.logical_volumes.title"
      add-action-label="server_assocs.disk_models.logical_volumes.btn.add"
      add-action="volumeGroupsModalCtrl.addLogicalVolume()"
      is-set="volumeGroupsModalCtrl.logicalVolumes.length > 0">
      <action-table
        table-data="volumeGroupsModalCtrl.logicalVolumes"
        table-headers="volumeGroupsModalCtrl.logicalVolumesTableHeaders"
        actions-label="'installer.actions.header'"
        config="volumeGroupsModalCtrl.logicalVolumesTableConfig"
        detail-template="volumeGroupsModalCtrl.editLogicalVolumeTemplate"
        edit-action="volumeGroupsModalCtrl.editLogicalVolume"
        add-action="volumeGroupsModalCtrl.addLogicalVolume">
      </action-table>
    </editable-placeholder>
    <div class="row-form" ng-show="volumeGroupsModalCtrl.isAddingLogicalVolume">
      <form name="newLogicalVolumeForm" novalidate>
        <div class="form-group">
          <div class="input-control">
            <label for="volumeName" class="required control-label">
              {{'server_assocs.disk_models.logical_volumes.name' | translate}}
            </label>
            <input class="control-input" type="text" id="volumeName" ng-model="volumeGroupsModalCtrl.newLogicalVolume.name" required>
          </div>
          <div class="input-control">
            <label for="size" class="required control-label">
            {{'server_assocs.disk_models.logical_volumes.size' | translate}}
            </label>
            <input class="control-input" type="text" id="size" ng-model="volumeGroupsModalCtrl.newLogicalVolume.size" required>
          </div>
          <div class="input-control">
            <label class="control-label" for="mount">{{'server_assocs.disk_models.logical_volumes.mount' | translate}}</label>
            <input class="control-input" type="text" id="mount" ng-model="volumeGroupsModalCtrl.newLogicalVolume.mount">
          </div>
          <div class="input-control">
            <label class="control-label" for="fstype">{{'server_assocs.disk_models.logical_volumes.fstype' | translate}}</label>
            <input class="control-input" type="text" id="fstype" ng-model="volumeGroupsModalCtrl.newLogicalVolume.fstype">
          </div>
          <div class="input-control">
            <label class="control-label" for="mkfs">{{'server_assocs.disk_models.logical_volumes.mkfs' | translate}}</label>
            <input class="control-input" type="text" id="mkfs" ng-model="volumeGroupsModalCtrl.newLogicalVolume['mkfs-opts']">
          </div>
        </div>
        <div class="pull-right">
          <button
            class="btn btn-secondary"
            ng-click="volumeGroupsModalCtrl.cancelAddLogicalVolume()">
            {{'installer.btn.cancel' | translate}}
          </button>
          <button
            id="saveLogicalVolume"
            class="btn btn-primary"
            ng-disabled="newLogicalVolumeForm.$invalid"
            ng-click="volumeGroupsModalCtrl.saveNewLogicalVolume()">
            {{'installer.btn.save' | translate}}
          </button>
        </div>
      </form>
  </div>
  </div>
</div>

<div class="modal-footer">
  <div class="pull-right vertical-middle">
    <button class="btn btn-secondary" ng-click="volumeGroupsModalCtrl.cancel()">{{'installer.btn.cancel' | translate}}</button>
    <button class="btn btn-primary"
      ng-disabled="newVolumeGroupForm.$invalid || !volumeGroupsModalCtrl.validVolumes"
      ng-click="volumeGroupsModalCtrl.save()">
      {{'server_assocs.disk_models.volume_groups.btn.update' | translate}}
    </button>
  </div>
</div>
