<div class="confirm-modal">
  <div class="modal-header">
    <div class="modal-title vertical-middle">{{confirmCtrl.config.title | translate}}</div>
  </div>
  <div class="modal-body" ng-bind-html="confirmCtrl.config.message"></div>
  <div class="modal-footer">
    <div>
      <button class="btn btn-secondary pull-left" type="button" ng-click="confirmCtrl.cancel()">
      {{confirmCtrl.config.confirmNo | translate}}
      </button>
      <button class="btn btn-default pull-right" type="button" ng-click="confirmCtrl.ok()">
      {{confirmCtrl.config.confirmYes | translate}}
      </button>
    </div>
  </div>
</div>