$ardana-green: #01A982;
$ardana-dark-steel: #5F7A76;
$ardana-slate: #425563;
$ardana-black: #333333;
$ardana-bronze: #80746E;
$ardana-white: #FFFFFF;
$ardana-black-light: #666666;
$ardana-divider: #CCCCCC;
$ardana-form-border: #CCCCCC;

$ardana-turquoise: #2AD2C9;
$ardana-silver: #F0F0F0;
$ardana-grey: #C6C9CA;
$ardana-charcoal: #767676;
$ardana-orange: #FD9A69;
$ardana-red: #FF454F;

$link-color: $ardana-green;

$table-title: 600 18px 'Metric';
$thead-font: 16px 'Metric';
$tbody-font: 16px 'Metric';
