<div class="modal-header">
  <div class="modal-title vertical-middle">
    {{title | translate}}
  </div>
</div>
<div class="modal-body">
  <ng-form name="nicMapForm">
    <div ng-if="server.id || server.role">
      <div class="control-section">
          <div class="input-control">
              <div class="control-label">{{'identify_servers.servers.node_name' | translate}}</div>
              <input class="control-input" type="text" value="{{server.id}}" readonly/>
          </div>
          <div class="input-control">
              <div class="control-label">{{'identify_servers.servers.role' | translate}}</div>
              <input class="control-input" type="text" value="{{server.role}}" readonly/>
        </div>
      </div>
    </div>
    <div ng-class="{'input-control-continue': server.id || server.role}" class="control-section left-hand">
      <div class="input-control">
        <div class="control-label">{{'nic_mapping.name' | translate}}</div>
        <div class="error-message" role="alert"
             ng-show="!nicMapForm.nicmap_name.$pristine && nicMapForm.nicmap_name.$error.ardanaUnique">
          {{'identify_servers.already.used' | translate}}
        </div>
        <input name="nicmap_name" class="control-input" type="text"
          ng-model="nicMap.name"
          items="nicMaps"
          key="'name'"
          ardana-unique ardana-valid-name
          required/>
      </div>
      <div class="input-control">
        <div class="control-label">{{'nic_mapping.num_nics' | translate}}</div>
        <ardana-numeric-buttons for="nicmap_numNics"></ardana-numeric-buttons>
        <input id="nicmap_numNics" name="nicmap_numNics" class="custom-spinner control-input" type="number"
          min="1" ardana-integer ng-model="numNics" ng-change="addRemovePort()"/>
      </div>


    </div>

    <div class="control-section right-hand">
      <div class="input-control-wrapper" ng-repeat="port in nicMap['physical-ports']">

        <div class="input-control input-control-sxs">
          <div class="input-control">
            <div class="control-label required">
              {{'nic_mapping.logical_name' | translate}}
            </div>
            <input name="nicmap_{{port['logical-name']}}" class="control-input" type="text"
              ng-model="port['logical-name']" required ardana-valid-name
              ng-readonly="nicMap._requiredPorts[port['logical-name']]"/>
          </div>
          <div class="input-control">
            <div class="control-label required">
              {{'nic_mapping.pci_address' | translate}}
            </div>
          <input name="nicmap_bus_{{port['logical-name']}}" class="control-input" type="text"
            ng-model="port['bus-address']"
            ardana-pci-address required/>
          </div>
        </div>
      </div>
    </div>
  </ng-form>
</div>
<div class="modal-footer">
  <div class="pull-right vertical-middle">
    <button class="btn btn-secondary" type="button" ng-click="cancel()">
      {{'installer.btn.cancel' | translate}}
    </button>
    <button class="btn btn-default" type="button"
      ng-disabled="nicMapForm.$invalid" ng-click="update()">
      {{'installer.btn.update' | translate}}
    </button>
  </div>
</div>
