<div class="pull-right vertical-middle">
  <span ng-if="!ic.deploying && !ic.deploySuccessful">
    <button id="prevButton" class="btn btn-secondary"
      ng-disabled="ic.prevDisabled" ng-click="ic.step(-1)">
      {{'installer.btn.previous' | translate}}
    </button>
    <button id="nextButton" class="btn btn-primary"
      ng-if="!ic.configuringOs && !ic.deployable"
      ng-disabled="ic.nextDisabled || !ic.validStep" ng-click="ic.step(1)">
      {{'installer.btn.next' | translate}}
    </button>
    <button id="installOsButton" class="btn btn-primary"
      ng-if="ic.configuringOs && !(ic.installingOs || ic.installOsCompleted)"
      ng-click="ic.installOs()"
      ng-disabled="!ic.validStep">
      {{'install_os.btn.install' | translate}}
    </button>
    <button id="deployButton" class="btn btn-primary"
      ng-if="!ic.configuringOs && ic.deployable"
      ng-click="ic.deploy()" ng-disabled="!ic.deployable">
      {{'installer.btn.deploy' | translate}}
    </button>
  </span>
  <button id="opsConsoleButton" class="btn btn-primary"
    ng-if="ic.deploySuccessful" ng-click="ic.goToOpsConsole()">
    {{'success.btn.opsConsole' | translate}}
  </button>
</div>
