<div class="installer workflow" ng-controller="InstallerController as ic">
    <div class="workflow-wrapper">
        <div class="workflow-frame">
            <div class="workflow-navbar">
                <span ng-include="'app/installer/header.html'"></span>
            </div>
            <div class="workflow-body">
                <div class="workflow-body-indent">
                    <div class="workflow-scrolling-body-indent">
                        <div class="installer-body">
                            <ng-form ng-if="!ic.deploying && !ic.deploySuccessful" name="installer">
                                <div ng-repeat="section in ic.sections" class="section" id="{{section.id}}"
                                     ng-hide="ic.currentSectionId !== section.id">
                                    <div class="section-header">
                                        {{section.title | translate}}
                                        <help-popover ng-if="section.help_html_path" class="pull-right"
                                                      data="ic.data" template-url="section.help_html_path">
                                        </help-popover>
                                    </div>
                                    <p ng-if="section.subtitle" class="section-subtitle">{{section.subtitle |
                                        translate}}</p>
                                    <div class="section-intro" ng-if="section.intro" translate="{{section.intro}}">
                                    </div>
                                    <div class="section-body" ng-include="section.html_path"></div>
                                </div>
                            </ng-form>
                            <div ng-if="ic.deploying" id="section_deploy" class="section">
                                <div class="section-header">
                                    {{'deploy.title' | translate}}
                                    <help-popover class="pull-right"
                                                  template-url="'app/installer/section_deploy.help.html'">
                                    </help-popover>
                                </div>
                                <p ng-if="ic.deployMessage" class="section-subtitle">{{ic.deployMessage |translate}}</p>
                                <div class="section-body" ng-include="'app/installer/section_deploy.html'"></div>
                            </div>
                            <div ng-if="ic.deploySuccessful" id="section_success" class="section">
                                <div class="section-header">
                                    {{'success.title' | translate}}
                                </div>
                                <div class="section-body" ng-include="'app/installer/section_success.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="workflow-footer">
                <span class="footer-buttons" ng-include="'app/installer/footer.html'"></span>
            </div>
            <drawer></drawer>
        </div>
    </div>
    <div class="workflow-backdrop"></div>
</div>
