<div class="log-viewer-wrapper">
    <div class="log-viewer-controls">
        <input id="checkbox-logviewer-fulllog" class="control-input log-viewer-checkbox" type="checkbox" ng-model="ic.logViewer.fullLog"/>
        <label for="checkbox-logviewer-fulllog"></label>
        <div class="control-label log-viewer-checkbox-label">{{ 'deploy.log-viewer.fullLog' | translate }}</div>
        <input id="checkbox-logviewer-autoscroll" class="control-input log-viewer-checkbox" type="checkbox" ng-model="ic.logViewer.autoScroll"/>
        <label for="checkbox-logviewer-autoscroll"></label>
        <div class="control-label log-viewer-checkbox-label">{{ 'deploy.log-viewer.autoScroll' | translate }}</div>
    </div>
    <log-viewer class="log-viewer"
                p-ref="ic.logViewer.pRef"
                filter="ic.logViewer.filter"
                auto-scroll-on="ic.logViewer.autoScroll">
    </log-viewer>
</div>
