<div class="no-margin-bottom">
  <div class="static-container col-sm-3 col-xs-12">
    <div class="container-heading">
      {{'identify_servers.servers.pxe_mac' | translate}}
    </div>
    {{row['mac-addr'] | blankPlaceholder}}
  </div>
  <div class="static-container col-sm-3 col-xs-12">
    <div class="container-heading">
      {{'identify_servers.servers.ipmi_ip' | translate}}
    </div>
    {{row['ilo-ip'] | blankPlaceholder}}
  </div>
  <div class="static-container col-sm-3 col-xs-12">
    <div class="container-heading">
      {{'identify_servers.servers.ipmi_usr' | translate}}
    </div>
    {{row['ilo-user'] | blankPlaceholder}}
  </div>
  <div class="static-container col-sm-3 col-xs-12">
    <div class="container-heading">
      {{'identify_servers.servers.ipmi_pw' | translate}}
    </div>
    {{row['ilo-password'] | blankPlaceholder}}
  </div>
  <div class="static-container col-sm-9 col-xs-12">
    <div class="container-heading">
      {{'identify_servers.servers.status' | translate}}
    </div>
    <span ng-if="row['is-deployer']">
      {{'identify_servers.servers.no_install' | translate}}
    </span>
    <span ng-if="!row['is-deployer']">
      {{row._status | translate | blankPlaceholder}}
    </span>
  </div>
</div>