<div ng-controller="NameServerDetailController as nameServerDetailCtrl">
    <ng-form name="editNameServerForm" ng-if="row._expanded">
        <div class="form-group">
          <div class="input-control">
            <label class="control-label" for="nameServerName">{{'identify_servers.name_server.edit' | translate}}</label>
            <input class="control-input" ardana-valid-ip-address-or-hostname type="text" id="nameServerName" ng-model="row._name" required>
          </div>
        </div>
        <div class="pull-right margin-bottom">
            <button class="btn btn-secondary" ng-click="nameServerDetailCtrl.cancel(row)">
                {{'installer.btn.cancel' | translate}}
            </button>
            <button class="btn btn-primary"
                    ng-disabled="editNameServerForm.$invalid"
                    ng-click="nameServerDetailCtrl.save(row)">
                {{'installer.btn.save' | translate}}
            </button>
        </div>
    </ng-form>
</div>
