<div ng-controller="NtpServerDetailController as ntpDetailCtrl">
    <ng-form name="editNtpServerForm" ng-if="row._expanded">
        <div class="form-group">
            <div class="input-control">
                <label class="control-label" for="ntpServerName">{{'identify_servers.ntp_server.edit' | translate}}</label>
                <input class="control-input" type="text"
                ardana-valid-ip-address-or-hostname
                id="ntpServerName" ng-model="row._name" required>
            </div>
        </div>
        <div class="pull-right margin-bottom">
            <button class="btn btn-secondary" ng-click="ntpDetailCtrl.cancel(row)">
                {{'installer.btn.cancel' | translate}}
            </button>
            <button class="btn btn-primary"
            ng-disabled="editNtpServerForm.$invalid"
            ng-click="ntpDetailCtrl.save(row)">
            {{'installer.btn.save' | translate}}
            </button>
        </div>
    </ng-form>
</div>
