<div ng-controller="BaremetalServersController as bmCtrl">

  <table class="table action-table table-as-header">
    <thead>
        <th colspan="7" class="action-header">
          <span class="title pull-left ng-binding ng-scope">{{'identify_servers.network.title' | translate}}</span>
          <span class="pull-right" ng-controller="ViewNicMappingsController as nicCtrl">
            <button ng-click="nicCtrl.viewNicMappings()"
              class="btn btn-secondary btn-inline">
              {{'nic_mapping.btn.view' | translate}}
            </button>
          <button class="btn btn-secondary btn-inline"
            ng-hide="ic.installingOs"
            ng-click="bmCtrl.editBmNetworkWithDrawer()">
            {{'identify_servers.network.btn.edit' | translate}}
          </button>
        </span>
        </th>
    </thead>
  </table>

    <div class="row row-plain">
      <div class="static-container col-sm-12">
        <dl class="dl-horizontal col-sm-6">
          <dt>{{'identify_servers.network.subnet' | translate}}</dt>
          <dd>{{bmCtrl.data.baremetalConfig.baremetal_network.subnet}}</dd>
          <dt>{{'identify_servers.network.netmask' | translate}}</dt>
          <dd>{{bmCtrl.data.baremetalConfig.baremetal_network.netmask}}</dd>
          <dt ng-if="ic.data.install_os">
            {{'identify_servers.network.password' | translate}}
            <span class="required">*</span>
          </dt>
          <dd ng-if="ic.data.install_os">
            {{bmCtrl.data.baremetalConfig.baremetal_network.user_password | password}}
            <span class="required-field" ng-if="!bmCtrl.data.baremetalConfig.baremetal_network.user_password">
              {{'identify_servers.network.password.required' | translate}}
            </span>
          </dd>
        </dl>
        <dl class="dl-horizontal col-sm-6">
          <dt>{{'identify_servers.ntp_server.title' | translate}}</dt>
          <dd ng-if="bmCtrl.data.baremetalConfig.baremetal_network.cloud['ntp-servers'].length > 0"
            ng-repeat="ntpServer in bmCtrl.data.baremetalConfig.baremetal_network.cloud['ntp-servers']">
            {{ntpServer.name}}
          </dd>
          <dd ng-if="bmCtrl.data.baremetalConfig.baremetal_network.cloud['ntp-servers'].length === 0">
            --
          </dd>
        </dl>
        <dl class="dl-horizontal col-sm-6">
          <dt>{{'identify_servers.name_server.title' | translate}}</dt>
          <dd ng-if="bmCtrl.data.baremetalConfig.baremetal_network.cloud['dns-settings'] &&
              bmCtrl.data.baremetalConfig.baremetal_network.cloud['dns-settings']['nameservers'] &&
              bmCtrl.data.baremetalConfig.baremetal_network.cloud['dns-settings']['nameservers'].length > 0"
              ng-repeat="svr in bmCtrl.data.baremetalConfig.baremetal_network.cloud['dns-settings']['nameservers']">
            {{svr.name}}
          </dd>
          <dd ng-if="!(bmCtrl.data.baremetalConfig.baremetal_network.cloud['dns-settings'] &&
              bmCtrl.data.baremetalConfig.baremetal_network.cloud['dns-settings']['nameservers'] &&
              bmCtrl.data.baremetalConfig.baremetal_network.cloud['dns-settings']['nameservers'].length > 0)">
            --
          </dd>
        </dl>
      </div>
    </div>

  <editable-placeholder label="identify_servers.servers.title"
    is-set="bmCtrl.data.baremetalConfig.baremetal_servers.length > 0"
    add-action="bmCtrl.addBmServerWithDrawer()"
    add-action-label="identify_servers.servers.btn.add"
    secondary-action="bmCtrl.importFile()"
    secondary-action-label="identify_servers.servers.btn.import"
  >
    <action-table table-data="bmCtrl.data.baremetalConfig.baremetal_servers"
      actions-label="'installer.actions.header'"
      table-headers="bmCtrl.tableHeaders" detail-template="bmCtrl.detailTemplate"
      header-template="bmCtrl.headerTemplate"
      config="bmCtrl.config" no-crud="ic.installingOs"
      add-action="bmCtrl.addBmServerWithDrawer"
      header-options="bmCtrl.headerOptions"
      edit-action="bmCtrl.editBmServer" show-expand-icon>
    </action-table>
  </editable-placeholder>
</div>
