<span ng-if="data.install_os">
  <p ng-bind-html="'identify_servers.help.install_os_yes.p1' | translate"></p>
  <p ng-bind-html="'identify_servers.help.install_os_yes.p2' | translate"></p>
  <p ng-bind-html="'identify_servers.help.install_os_yes.p3' | translate"></p>
  <p ng-bind-html="'identify_servers.help.install_os_yes.p4' | translate"></p>
</span>
<span ng-if="!data.install_os">
  <p ng-bind-html="'identify_servers.help.install_os_no.p1' | translate"></p>
  <p ng-bind-html="'identify_servers.help.install_os_no.p2' | translate"></p>
</span>