<div class="help-icon-header">
    <help-popover class="pull-right"
    template-url="'app/installer/identify_servers/server.help.html'">
    </help-popover>
</div>
<div class="control-section left-hand">
    <div class="input-control">
        <div class="control-label required">
            <span class="pointer" popover-trigger="mouseenter"
            popover="{{'identify_servers.servers.help.name' | translate}}">
            {{'identify_servers.servers.node_name' | translate}}
            </span>
        </div>
        <div class="error-message" role="alert"
            ng-show="!drawerForm.server_name.$pristine && drawerForm.server_name.$error.ardanaUnique">
            {{'error.unique_name' | translate}}
        </div>
        <input name="server_name" class="control-input" type="text"
            ng-model="this_data.id"
            ardana-unique ardana-valid-name
            items="config.metadata.servers"
            key="'id'"
            required/>
    </div>
    <div class="input-control">
        <div class="control-label required">
            <span class="pointer" popover-trigger="mouseenter"
            popover="{{'identify_servers.servers.help.ip_addr' | translate}}">
            {{'identify_servers.servers.ip_addr' | translate}}
            </span>
        </div>
        <input name="pxe_ip"
            class="control-input"
            type="text"
            ng-model="this_data['ip-addr']"
            ardana-valid-ip-address
            required/>
    </div>
</div>
<div class="control-section right-hand">
    <div class="input-control">
        <div class="control-label">
            <span class="pointer" popover-placement="left" popover-trigger="mouseenter"
            popover-html="'identify_servers.servers.help.role' | translate">
            {{'identify_servers.servers.role' | translate}}
        </span>
    </div>
    <selector id="server-role" items="config.metadata.roles" key="'name'" label="'name'"
    value="this_data.role"
    placeholder="'identify_servers.servers.placeholder.role'"
    ng-model="value" required>
</selector>
</div>

<div class="input-control" ng-if="config.metadata.serverGroups.length > 0">
    <span>
        <div class="control-label">{{'identify_servers.servers.group' | translate}}</div>
        <selector id="server-group" items="config.metadata.serverGroups" key="'name'" label="'name'" value="this_data['server-group']"
        placeholder="'identify_servers.servers.placeholder.group'"
        ng-model="value" required>
    </selector>
</span>
</div>

<div class="input-control">
    <span ng-controller="NicMapSelectorController as nicCtrl">
        <div class="control-label">{{'identify_servers.servers.nic_map' | translate}}</div>
        <selector items="config.metadata.nicMappings"
        add-item="nicCtrl.addNic" add-item-context="this_data"
        key="'name'" label="'name'" value="this_data['nic-mapping']"
        placeholder="'nic_mapping.placeholder.select'"
        ng-model="value" required>
    </selector>
</span>
</div>
</div>
